{{ define "main" }}
			<section id="hero" class="hero">
				<div class="container">
					<div class="hero-inner">
						<div class="hero-copy">
							<h1 class="hero-title h2-mobile mt-0 is-revealing">{{ .Site.Params.Content.LeadTitle | markdownify }}</h1>
							<p class="hero-paragraph is-revealing">{{ .Site.Params.Content.LeadDescription1 | markdownify }}</p>
							<p class="hero-paragraph is-revealing">{{ .Site.Params.Content.LeadDescription2 | markdownify }}</p>
							<p class="hero-cta is-revealing">
								<a class="button button-primary button-shadow" href="{{ .Site.Params.Content.ButtonURL}}">{{ .Site.Params.Content.ButtonCaption | markdownify }}</a>
							</p>
							<p class="hero-cta is-revealing">
								<a aria-label="Chat on WhatsApp" href="https://wa.me/918788546912">
									<img style="display: inline-flex;" alt="Chat on WhatsApp" src="images/WhatsAppButtonGreenMedium.svg" />
								</a>
							</p>
						</div>
						<div class="hero-illustration is-revealing" style="margin-top: 0px;">
							<div class="button-shadow">
								<img src="{{ .Site.Params.Content.HeroImage }}">
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="catalog" class="features section text-center">
				<div class="container">
					<div class="features-inner section-inner">
                        <h2 class="section-title mt-0 text-center">Our top products</h2>
						<div class="features-wrap">
							{{ range site.Params.feature }}
                            <div class="feature is-revealing">
								<div class="feature-inner">
                                    <div class="feature-icon">
                                        <img src="{{ .FeatureImage }}">
                                    </div>
                                    <h4 class="feature-title h3-mobile">{{ .FeatureTitle }}</h4>
                                    <p class="text-sm">{{ .FeatureDescription }}</p>
                                </div>
                            </div>
                            {{ end }}
                        </div>
                    </div>
				</div>
			</section>
			<section class="section text-center">
				<p class="hero-cta is-revealing">
					<a class="button button-primary button-shadow" href="{{ .Site.Params.Content.ButtonURL}}">{{ .Site.Params.Content.CatalogButtonCaption | markdownify }}</a>
				</p>
			</section>
			<section id ="who-we-serve" class="section">
				<div class="section-square"></div>
				<div class="container">
					<div class="pricing-inner section-inner has-top-divider">
                        <h2 class="section-title mt-0 text-center">Who we serve?</h2>
                        <div class="pricing-tables-wrap">
							{{ range site.Params.markets }}
                            <div class="pricing-table">
                                <div class="pricing-table-inner">
                                    <div class="pricing-table-main">
                                        <div class="pricing-table-header is-revealing">
                                            <div class="pricing-table-title mt-12 mb-8 h4">{{ .Title }}</div>
                                        </div>
                                        <ul class="pricing-table-features list-reset text-xs mt-24 mb-56">
											{{ range .names }}
                                            <li class="is-revealing">
                                                <span class="list-icon" style="color: green;">
													<i class="fa-solid fa-flag"></i>
                                                </span>
                                                <span>{{ .Name }}</span>
                                            </li>
											{{ end }}
                                        </ul>
                                    </div>
                                </div>
                            </div>
							{{ end }}
                        </div>
                    </div>
				</div>
			</section>
			<section id="why-choose-entity-pumps" class="section">
				<div class="section-square"></div>
				<div class="container">
					<div class="pricing-inner section-inner has-top-divider">
                        <h2 class="section-title mt-0 text-center">Why choose Entity Pumps?</h2>
                        <div class="pricing-tables-wrap">
							{{ range site.Params.choice }}
                            <div class="pricing-table">
                                <div class="pricing-table-inner">
                                    <div class="pricing-table-main">
										<div class="pricing-table-header is-revealing text-center">
											<span style="font-size: 2em;"><i class="fa-solid {{ .Icon }}" style="color: green;"></i></span>
                                            <div class="pricing-table-title mt-12 mb-8 h4 text-left">
												{{ .Title }}
											</div>
                                        </div>
										<p class="hero-paragraph is-revealing">{{ .Description1 | markdownify }}</p>
										<p class="hero-paragraph is-revealing">{{ .Description2 | markdownify }}</p>
                                    </div>
                                </div>
                            </div>
							{{ end }}
                        </div>
                    </div>
				</div>
			</section>
			<section id="who-are-entity-pumps" class="section">
				<div class="section-square"></div>
				<div class="container">
					<div class="pricing-inner section-inner has-top-divider">
                        <h2 class="section-title mt-0 text-center">Who will you be working with?</h2>
                        <div class="pricing-tables-wrap">
							{{ range site.Params.about }}
                            <div class="pricing-table">
								<div class="pricing-table-inner">
									<div class="pricing-table-main">
										<div class="feature-icon">
											<img src="{{ .Image }}" style="border-radius: 1.5em; border: 0.3em solid antiquewhite">
										</div>	
										<div class="pricing-table-header is-revealing">
											<div class="pricing-table-title mt-12 mb-8 h4">{{ .Title }}</div>
                                        </div>
										<p class="hero-paragraph is-revealing">{{ .Description1 | markdownify }}</p>
										<p class="hero-paragraph is-revealing">{{ .Description2 | markdownify }}</p>
                                    </div>
                                </div>
                            </div>
							{{ end }}
                        </div>
                    </div>
					<p class="hero-cta is-revealing text-center"><a class="button button-primary button-shadow" href="{{ .Site.Params.Content.ButtonURL}}">{{ .Site.Params.Content.ButtonCaption | markdownify }}</a></p>
					<p class="hero-cta is-revealing text-center">
						<a aria-label="Chat on WhatsApp" href="https://wa.me/918788546912">
							<img style="display: inline-flex;" alt="Chat on WhatsApp" src="images/WhatsAppButtonGreenMedium.svg" />
						</a>
					</p>
				</div>
			</section>
{{ end }}
